.footer {
  //   min-height: 60px;
  //   background-color: rgba(0, 0, 0, 1.5);
  //   opacity: 0.3;
  //   position: fixed;
  //   bottom: 0px;
  //   width: 100%;
  position: relative;
  // display: flex;
  //   position: sticky;
  bottom: 0px;
}

.footer__container {
  max-width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__list {
  opacity: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}

.footer__list-item:not(:nth-last-child(-n + 1)) {
  margin-right: 6px;
}

.footer__dark-line {
  min-height: 100px;
  background-color: rgba(0, 0, 0, 1.5);
  opacity: 0.3;
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: -1;
}

.footer__icon {
  fill: #fff;
  visibility: visible;
  width: 18px;
  height: 18px;
  border: 1px solid red;
}

.footer__descr {
  margin-bottom: 18px;
}

@media (min-width: 768px) {
  .footer__container {
    min-width: 500px;
    flex-wrap: nowrap;
  }

  .footer__list {
    margin-right: 16px;
  }
}
