.swiper-container {
  position: relative;
  width: 80%;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  align-items: center;
  width: 50%;
  margin-right: 15px;
  z-index: 2;
}

.swiper-wrapper-bottom {
  display: flex;
  justify-content: flex-start;
}

.swiper-slide-bottom {
  width: 10%;
  margin-right: 15px;
}

.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.6;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.hiden {
  display: none;
}
